@charset "UTF-8";
/* GENERAL */
.container-fluid {
  font-family: "Kodchasan", sans-serif;
  font-size: 25px; }

h1 {
  font-size: 30px; }

.titulo {
  font-size: 35px; }

.pochoclo {
  width: 250px;
  height: auto; }

html, .container-fluid {
  overflow-x: hidden;
  padding: 0px;
  margin: 0px; }

/* Contacto */
.botones--weight {
  font-weight: bolder; }

html body {
  background-image: url(../Assets/Img/background.jpg);
  background-attachment: fixed;
  width: 100%; }

.titulo {
  color: #0f0f7c; }

.container-fluid {
  width: 100vw; }

.menu {
  background: #333;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  list-style: none;
  transform: translateX(-100%);
  transition: transform .3s;
  z-index: 1000;
  position: absolute; }

.titulo {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 40px;
  color: green;
  margin-bottom: 45px; }

.contenidoMB {
  text-align: center; }

.carcar {
  margin-top: 40px; }

.over {
  overflow: hidden; }

.cardM {
  display: flex;
  margin: 0 auto;
  margin-top: 50px; }

.formulario--margin {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .formulario--margin input {
    margin-bottom: 15px; }

.textarea--margin {
  display: flex;
  flex-direction: column;
  margin: 10px; }

.botones--weight {
  display: flex;
  justify-content: space-evenly;
  margin: 10px; }

.filaCards {
  display: flex;
  justify-content: center;
  text-align: -webkit-center; }

.cartita {
  margin: 15px; }

.parrafUbic {
  text-align: center; }

.bus {
  display: flex;
  justify-content: center; }

.section {
  text-align: center;
  margin: 15px; }

.video--margen {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px; }

/*&__redes{
    display: flex;
    justify-content: center;
  }*/
.footer {
  background: wheat;
  margin-top: 25px; }

.linksFoo ul li a {
  list-style: none;
  text-decoration: none;
  text-align: center;
  font-size: 20px; }

.linksFoo {
  text-align: center;
  background: #d3c3d0;
  border-top: 1px solid #dea5e9; }

.linksFoo ul {
  padding-inline-start: inherit;
  margin-bottom: 0;
  border-bottom: 1px solid #d4b6d4; }

.linksFoo ul li a {
  list-style: none;
  text-decoration: none; }

.logo {
  width: 60%;
  margin-bottom: 10px;
  margin-left: 5px; }

.redes {
  display: flex;
  justify-content: start;
  background: #e6d4e3; }

body {
  margin: 0; }

.top-bar {
  background: #333; }
  @media screen and (min-width: 768px) {
    .top-bar {
      display: none; } }

.icon-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  padding-left: .4em; }
  .icon-menu__bar {
    background: #fff;
    width: 30px;
    height: 4px;
    border-radius: 2px;
    position: relative; }
    .icon-menu__bar::after, .icon-menu__bar::before {
      content: "";
      position: absolute;
      display: block;
      width: 30px;
      height: 4px;
      border-radius: 2px;
      background: #fff;
      top: -10px; }
    .icon-menu__bar::after {
      top: 10px; }

.menu {
  background: #333;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  transform: translateX(-100%);
  transition: transform 300ms;
  z-index: 1000; }
  @media screen and (min-width: 768px) {
    .menu {
      display: flex;
      justify-content: space-evenly;
      transform: translateX(0);
      position: relative; } }
  .menu--show {
    transform: translateX(0); }
  .menu__item {
    padding: 1em;
    border-bottom: 3px solid #fff; }
    @media screen and (min-width: 768px) {
      .menu__item {
        border-bottom: none;
        text-transform: uppercase; }
        .menu__item:hover {
          background: grey; }
          .menu__item:hover a {
            color: #000; } }
  .menu__link {
    color: #fff;
    text-decoration: none; }

/*
@media only screen and (min-width: 768px) and (max-width: 1200px){
    .titulo{
        background: blue;
    }
}*/
/*.menu{
        background: #333;
        padding-left: 0;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 0;
        list-style: none;   
        transform: translateX(-100%);
        transition: transform .3s;
        z-index: 1000;
    } */
@media screen and (min-width: 768px) {
  .titulo {
    color: #1d0a50;
    display: flex;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 100px; }
  .footer {
    margin-top: 30px;
    background: none; }
    .footer h3 {
      text-align: center; }
  .linksFoo {
    display: flex;
    justify-content: center;
    background: none; }
  .linksFoo ul li {
    list-style: none;
    text-decoration: none; }
  .redes {
    display: inline;
    margin-right: -100px; }
  .logo {
    width: 30%; }
  /* INICIO */
  .parraIndex {
    text-align: left;
    margin: 30px; }
  .cjtas {
    height: 300px;
    width: 90%;
    margin-right: 25px; }
  .carcar {
    display: flex;
    margin-left: 20px; }
  .contenidoMB {
    margin-bottom: 100px;
    margin-top: 30px; }
  .cardM {
    margin-left: 180px; } }

@media screen and (min-width: 768px) and (min-width: 768px) {
  .cardM {
    margin-top: 0px;
    margin-bottom: 50px; } }

@media screen and (min-width: 768px) {
  /* CONTACTO */
  .formulario--margin {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .formulario--margin input {
      margin-bottom: 15px; }
  .textarea--margin {
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 50%;
    align-items: center;
    margin-left: 325px; }
  .botones--weight {
    display: flex;
    margin: 20px; }
    .botones--weight button {
      margin: 15px; }
  /* PRODUCTOS */
  .filaCards {
    margin-bottom: 50px; }
  /* UBICACION */
  .parrafUbic {
    text-align: center;
    margin-top: 0px; }
  .mapa--tamaño {
    height: 90%;
    margin-left: 50px; }
  .bus {
    display: flex;
    justify-content: center;
    margin-bottom: 40px; }
  .section {
    text-align: justify;
    margin: 55px; }
  .video--margen {
    margin-left: 35px; } }

@media screen and (min-width: 768px) {
  .pepona {
    display: flex;
    flex-direction: row;
    height: auto;
    position: relative; }
    .pepona .redes {
      background: none;
      position: absolute;
      left: 50%;
      bottom: 0;
      right: -50%; }
    .pepona .linksFoo {
      display: flex;
      flex-direction: column;
      padding-left: 4rem;
      border-top: none; }
    .pepona h3 {
      text-align: end;
      width: 350px; } }
