$padding: 30px;
$margin: 4*10px;



@if $vista==mobile {
    @media screen and (max-width: 767px){
        .container-fluid{
            width: 100vw;
        }
}
// TITULOS 
.titulo{
    display:flex;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 100px;
}
// FOOTER
.foo  {
    display: flex;
    justify-content: space-evenly;
}
.footer {
    margin-top: 30px;
        & h3 {
            text-align: center;
        }
}
.linksFoo ul li{
    list-style: none;
    text-decoration: none;
}
.redes {
    display: inline;
    margin-right: -100px;
    margin-top: 120px;
}
   
.logo {
    width: 50%;
}
.ig:hover{
    transform: translateY(-10px);
}
/* INICIO */

.over {
    overflow-y: hidden;
}
.parraIndex{
    text-align: left;
    margin: 30px;
}
.cjtas {
    height: 300px;
    width: 95%;
}
.carcar {
    display: flex;
    margin-left: 30px;
}
.contenidoMB {
    margin-bottom: 100px;
    margin-top: 30px;
}

.cardM {
    margin-left: 90*2px;
}}

/* CONTACTO */

.formulario--margin{
    display: flex;
    flex-direction: column;
    align-items: center;
      & input {
        margin-bottom: 15px;
      }
  }
  .textarea--margin{
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 50%;
    align-items: center;
    margin-left: 325px;
  }
  .botones--weight{
    display: flex;
    margin: 20px;
        & button{
            margin: 15px;
        }
  }
/* PRODUCTOS */

.filaCards{
    margin-bottom: 50px;
    margin-left: 80px;
}

/* UBICACION */
.parrafUbic {
    text-align: center;
    margin-top: 0px;
}

.mapa--tamaño {
    height: 90%;
    margin-left: 50px;
}
.bus {
    display: flex;
    justify-content: center;
}
//WOODBOX

.section {
    text-align: justify;
    margin: 55px;
}
.video--margen {
    margin-left: 35px;
}